<!DOCTYPE hibernate-configuration PUBLIC        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://ec2-54-217-228-25.eu-west-1.compute.amazonaws.com:5432/d68bpv4iaqa27u</property> <!-- db_hobbes_core?useCompression=true&amp;serverTimezone=UTC -->
		<property name="connection.username">cxfjqcrjxwsbdk</property>
		<property name="connection.password">912d342154192d3dd78d236a859a239590f18f60a2be06e4b754840486a86cce</property>
		<property name="connection.pool_size">5</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.dbcp.initialSize">5</property>
		<property name="hibernate.dbcp.maxTotal">20</property>
		<property name="hibernate.dbcp.maxIdle">10</property>
		<property name="hibernate.dbcp.minIdle">5</property>
		<property name="hibernate.dbcp.maxWaitMillis">-1</property>
		
		
		<mapping class="gyrodragon.RouleUnSandwich.pojo.Produit" />
<!-- 		<mapping class="gyrodragon.RouleUnSandwich.pojo.Accompagnement" /> -->
		<mapping class="gyrodragon.RouleUnSandwich.pojo.Client" />
		<mapping class="gyrodragon.RouleUnSandwich.pojo.Commande" />
	 	<mapping class="gyrodragon.RouleUnSandwich.pojo.Sandwich" />
	 	<mapping class="gyrodragon.RouleUnSandwich.pojo.SandwichPerso" />
	 	<mapping class="gyrodragon.RouleUnSandwich.pojo.associations.CommandeSandwich" />
	 	<mapping class="gyrodragon.RouleUnSandwich.pojo.SandwichPerso" />
		<!--<mapping class="gyrodragon.RouleUnSandwich.pojo.Formule" /> -->
		
		
	</session-factory>
</hibernate-configuration>