article#brd-2 {
    border: 2px solid chocolate;
    width: 460px;
    display: block;
    margin: 10px auto 53px;
}
form#formu {
    padding: 15px 0px 5px 34px;
}

button#bouton {
    display: block;
    margin: 30px auto 0px;
}

input#mail {
    margin-left: 37px;
    width: 215px;
}

input#mdp {
    width: 215px;
}

h2.subTitle {
    display: block;
    margin: 16px 0px 65px 83px;
}

h5.co {
    margin: 5% 0% 5% 35%;
    font-weight: bolder;
}